<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-4">
    <h1> Join for free! </h1>
  </div>
</div>

<div class="container-fluid">
    <div class="col-sm-4 col-sm-offset-3">
      <%= bootstrap_form_for(@user) do |form| %>
        <%= form.text_field :first_name %> 
        <%= form.text_field :last_name %>
        <%= form.email_field :email %>
        <%= form.password_field :password %>
        <%= form.password_field :password_confirmation %>
        <%= form.submit "Sign Up", class: "col-sm-12 btn btn-primary" %>
      <% end %>
    </div>
  </div>



