<h1>Your Saved Locations</h1>
<br>
<br>

<% @locations.each do |location| %>
  <div class="container-fluid">
    <div class="col-sm-6 well">
  <h2> <%= link_to location.address, location %> </h2>
  <h3> <%= location.city %>, <%= location.state %> <%= location.zip_code %></h3>
  <%= link_to "View Location", location_path(location), class: "btn btn-success" %>
  <%= link_to "Delete Location", location_path(location), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
